
{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}



{% block content %}
<body>
    <div class="container mt-5">
        <h2>Reservation Lookup</h2>
        
   
        
        <form hx-post="{% url 'reservation_lookup' %}"
              hx-trigger="change delay:400ms, keyup delay:400ms"
              hx-target="#results"
              hx-indicator="#spinner">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.reservation_id.label_tag }}
                {{ form.reservation_id }}
            </div>
            <div class="mb-3">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>
            <div class="mb-3">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
        </form>
        
        <!-- Loading indicator -->
        <div id="spinner" class="htmx-indicator">
            Searching...
        </div>
     
        <div id="results">
            {% include 'reservation_lookup_results.html' %}
        </div>
    </div>

 
</body>
{% endblock %}