{% extends 'base.html' %}
{% block content %}
<!-- Hero Section -->
<div class="container-fluid bg-light py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1 class="display-4 fw-bold">Moffat Bay Resort</h1>
                <p class="lead">An oasis of love and money baby. All you have to do, is nothing. </p>
                <p class="lead">We have the best rooms, the best food, and the best service. Register now for the best deals!  </p>
                <a href="{% url 'registration' %}" class="btn btn-primary btn-lg">Register</a>
            </div>
            {% load static %}
            <div class="col-md-6">
              <img src="{% static '/images/resort1.jpg' %}" class="img-fluid" alt="Hero">
            </div>
        </div>
    </div>
</div>
<div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">What's going on</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Get Rewards and Exclusive Offers</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="{% static '/images/resort2.jpg' %}" alt="resort2" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>Earth</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>3d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-2.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="{% static '/images/resort2.jpg' %}" alt="resort" width="32" height="32" class="rounded-circle border border-white">
              </li>
             
           
            </ul>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-3.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
              </li>
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                <small>California</small>
              </li>
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>5d</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="b-example-divider"></div>



<!-- Call to Action Section -->
<div class="container my-5 text-center">
    <h2>Moffat Bay</h2>
    <p class="lead">Join us today and discover how we can help you achieve your goals.</p>
    <div class="mt-4">
       
        <a href="{% url 'registration' %}" class="btn btn-outline-secondary btn-lg mx-2">Sign Up</a>
        <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-lg mx-2">Login</a>
    </div>
</div>

{% endblock %}
  
